= form_for @host do |f| 
  - if @host.errors.any? 
    = @host.errors.full_messages.each do |msg|
      %p
        = msg
          
  %p
    = f.label :hostname
    %br
    = f.text_field :hostname
  %p
    = f.label :macaddress
    %br
    = f.text_field :macaddress
  %p
    = f.label :ipaddress
    %br
    = f.text_field :ipaddress
  %p
    = f.submit
