<!DOCTYPE html>
<html>
<head>
<title>Pastry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo.png", alt: "Pastry logo"), '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Host list", hosts_path %></li>
        <li><%= link_to "Add new", new_host_path %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
